[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
imbalanced-learn = "==0.7.*"
ipython = "==7.14.*"
jupyter = "==1.0.*"
matplotlib = "==3.2.*"
pandas = "==1.0.*"
plotly = "==4.6.*"
scikit-learn = "==0.23.*"
statsmodels = "==0.11.*"
tensorflow = "==2.1.*"
xlrd = "==1.2.*"
